.Original{
background-image: url('./backgrounds/background.png')
}

.Edition1 {
  background-image: url('./backgrounds/Mode1Background.png')
}

#navbarList {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.429);
  padding:0;
  margin: 0;
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

#navbarList li{
  float: left;
}

#navbarList li a {
  display: block;
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Light', sans-serif;
  font-size: medium;
  padding: 14px 16px;
  text-decoration: none;
}

#navbarList li a:hover {
  background-color: rgba(255, 255, 255, 0.429);
}

#navbarList li a.active {
  background-color: aqua;
}