#navbarList {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.429);
  padding:0;
  margin: 0;
  display: flex;
  border-radius: 2px;
  justify-content: center;
}

#navbarList li a {
  display: block;
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Light', sans-serif;
  font-size: medium;
  padding: 14px 14px;
  text-decoration: none;
}

#navbarList li a:hover {
  background-color: rgba(255, 255, 255, 0.429);
}
