*:focus{
  outline:none
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: center;
}


#navbarList {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.429);
  padding:0;
  margin: 0;
  display: flex;
  border-radius: 2px;
  border-bottom: 2px solid black;
  justify-content: center;
}

#navbarList li a {
  display: block;
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Light', sans-serif;
  font-size: medium;
  padding: 12px 14px;
  text-decoration: none;
}


#navbarList li a:hover {
  background-color: rgba(255, 255, 255, 0.429);
}
